@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&family=Outfit:wght@300;400;800&display=swap");

body {
  margin: 0, auto;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../files/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  font-family: "Inter", sans-serif;
}

header {
  margin-left: 3em;
  margin-top: 3em;
}

#container {
  width: 100%;
  margin: 3em;
}

img {
  width: 10em;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 60px;
}

#subtitle {
  font-weight: 800;
}

h2 {
  color: #d20094;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

#checkboxFooter {
  margin: 4em auto;
  background-color: transparent;
}

.boxCheck {
  opacity: 0;
  position: relative;
  right: 1em;
  vertical-align: middle;
}

label {
  padding-left: 30px;
  margin-top: 50px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

label #mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  position: absolute;
  left: 1em;
  margin-top: 2%;
  top: -1em;
}

label input:checked+#mark {
  left: 20px;
  top: 1;
  width: 8px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}

#button {
  display: inline-block;
  margin-left: 15em;
}

#proceed {
  cursor: pointer;
  padding: 1em 4em;
  font-size: large;
  font-weight: bold;
  background-color: #00ffff;
  border: 0px;
  -webkit-box-shadow: 0px 0px 50px 0px #00ffff;
  -moz-box-shadow: 0px 0px 50px 0px #00ffff;
  -o-box-shadow: 0px 0px 50px 0px #00ffff;
  box-shadow: 0px 0px 50px 0px #00ffff;
}

#proceed:hover {
  -webkit-box-shadow: 0px 0px 60px 0px #00ffff;
  -moz-box-shadow: 0px 0px 60px 0px #00ffff;
  -o-box-shadow: 0px 0px 60px 0px #00ffff;
  box-shadow: 0px 0px 60px 0px #00ffff;
  background-color: #00ffffd3;
}

span {
  font-weight: bold;
}

footer {
  list-style-position: inside;
  padding-left: 0;
}

/*inizio la question page*/

.questionContainer {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.questions {
  text-align: center;
  margin: 3em;
}

.timerRound p {
  font-size: 7px;
  line-height: 0;
}

.timerRound {
  display: inline-block;
  text-align: center;
  margin-left: 70%;
  border: 10px solid #00ffff;
  padding: 10px 20px;
  border-radius: 50%;
}

.timerRound span {
  font-size: 30px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.question {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 60px;
}

.answer {
  color: white;
  border: transparent;
  background-color: rgba(128, 128, 128, 0.185);
  width: 300px;
  height: 50px;
  margin: 1em 2em;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 0px 1px white;
  -moz-box-shadow: 0px -2px 0px 1px white;
  -o-box-shadow: 0px -2px 0px 1px white;
  box-shadow: 0px -2px 0px 1px white;
}

.answer:hover {
  background-color: #900080;
}

.totalList {
  color: #d20094;
}

.questionNumber {
  text-align: center;
}

/* CSS FEEDBACK */

.container {
  text-align: center;
}

.valutazione {
  margin-bottom: 2em;
}

.ratings {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  direction: rtl;
  text-align: center;
}

.star {
  position: relative;
  line-height: 60px;
  display: inline-block;
  transition: color 0.2s ease;
  color: #777474;
  cursor: pointer;
}

.star:before {
  content: "\2605";
  width: 60px;
  height: 60px;
  font-size: 60px;
}

.star:hover,
.star.selected,
.star:hover~.star,
.star.selected~.star {
  transition: color 0.4s ease;
  color: #00ffff;
}

.feed {
  text-align: center;
}

#feed {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid purple;
  padding: 10px;
  width: 50em;
  color: white;
  margin-bottom: 4em;
}

#feed:focus {
  outline: none;
}

#questionHeader {
  position: relative;
  display: inline-block;
  left: 85%;
  bottom: 7em;
}

/*timer*/

#remaining {
  position: relative;
  top: -50px;
  left: 18px;
  font-size: 12px;
}

#seconds {
  position: relative;
  top: -75px;
  left: 22px;
  font-size: 12px;
}

#app {
  margin-top: 60px;
}

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: transparent;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: #00ffff;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#quiz {
  position: relative;
  text-align: center;
  margin-top: 0;
  bottom: 7em;
  /*quizz*/
}

#question {
  margin-top: 2em;
  padding-bottom: 8%;
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  padding-left: 8%;
  padding-right: 8%;
}

#choices-box {
  padding-left: 2%;
  padding-right: 4%;
  padding-bottom: 2%;
  width: 50%;
  text-align: center;
  padding-left: 25%;
}

.choice {
  height: 50px;
  width: 200px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255, 0.164);
  border-radius: 50px;
  padding: 10px 40px;
  background-color: #ffffff22;
  box-shadow: -1px -1px 0px 1px white;
  width: 40vh;
  margin-left: 5%;
  vertical-align: baseline-middle;
  margin-bottom: 2%;
}

.choice:hover {
  cursor: pointer;
  background: linear-gradient(180deg,
      rgb(206, 6, 183) 0%,
      35%,
      rgb(135, 2, 115) 100%);
  transform: scale(1.02);
  transform: transform 100ms;
}

#footer-quiz {
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  bottom: 4em;
  /*quizz*/
}

#pink {
  color: #c2128d;
}

/* pagina risultato con grafico */

.results03 {
  text-align: center;
}

.graphic {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

#feedpage {
  background-color: #4caf4f00;
  border: 2px solid white;
  color: white;
  padding: 15px 60px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#mainResults {
  margin-bottom: 70px;
}

#inside_canvas {
  width: 50%;
  font-size: 8px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container-result { /*ho usato flexbox*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#leftDiv, #centralDiv, #rightDiv {
  width: 30%;
}

#divHeader{
  margin-bottom: 50px;
}

.titleResult, .firstP, .rateBold {
  margin: 0 auto;
}

.rateBold, .firstP {
  font-size: 40px;
}

.titleResult, .rateBold {
  font-weight: 700;
}

.p1{
  font-weight: bold;
  margin-bottom: 0;
  font-size: 20px;
}

.p2wrong, .p2correct{
  color: #00ffff;
  margin-top: 0;
  font-weight: bold;
  font-size: 16px;
}

.summary {
  font-size: 30px;
  margin-top: 0;
}